* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Open Sans", sans-serif;
  line-height: auto;
}
body {
  width: 1280px;
  height: 3279px;
  padding: 56px;
}

#page {
  box-sizing: border-box;
  width: 1140px;
  height: 3074px;
  padding: 10px;
  margin: 77px 53px 128px 87px;
}

#description-image {
  width: 100%;
}
.headline {
  font-size: 16px;
  font-weight: bold;
  color: #e1624f;
}
.subtitle {
  text-align: center;
}
ol {
  list-style-position: inside;
}
ol li h3 {
  display: inline;

}
ol li::marker {
  font-weight: bold;
  font-size: 28px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1b1b1b;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: #1b1b1b;
}
h3 {
  font-size: 28px;
  font-weight: bold;
  color: #1b1b1b;
}

p {
  color: #333333;
}
.center {
  text-align: center;
}

.color {
  color:#0C51A7;
}
.color1 {
  color: #1b1b1b;
}
.color2 {
  color: #591B98;
}
.color3 {
  color: #E5245E;
}
.color4 {
  color: #E95E10;
}
.color5 {
  color: #1b1b1b;
}
footer {
  text-align: center;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}
.divider1 {
   width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}